@import url('https://fonts.googleapis.com/css?family=Signika');

body, html {
    height:100%;
    font-family: sans-serif;
    color:#C6C2C2;
}
body {
    background:#DBF3FF;
    margin:0;
    display:grid;
    justify-items:center;
    align-items:center;
}

h1 {
    color:#919CB4;
    font-family:'Signika';
    font-size:2em;
    text-align:center;
}

p {
    font-size:1.5em;
}

article {
    width:500px;
    top:20%;
}